* {
    Margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; /* parrafos */
    font-family: 'Saira Condensed', sans-serif; /* encabezados */
}


/*
#F3F3F3 BACKGROUND 
#C5B4AE BACKGROUND si es degrade (opcional)
#0D0C10 TEXT
#496C7F H1 H2 H3 H4


#0D0C10 BACKGROUND
#C5B4AE TEXT
#496C7F H1 H2 H3 H4

#856C5B OPCIONAL
*/





/* General */

h1 {
    color: #F3F3F3;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

h2,
h3,
h4 {
    color: #496C7F;
    font-size: 25px;
    font-family: 'Saira Condensed', sans-serif;
}

p {
    color: #C5B4AE;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}


label {
    color: #C5B4AE;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}


a {
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}


.btn a {
    text-decoration: none;
}

ul{
    list-style: none;
}



/*****************+* MOBILE ********************/

@media screen and (max-width: 1024px) {
   
/* GENERAL */
    
.btn {
    width: 120px;
    height: 30px;
    background-color: #C5B4AE;
    border: none;
    margin: 20px 3px 0px 0px;
}
    
/* GRID */
    
#grid {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px 1fr 80px;
}


header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/* Nav */


header {
    position: absolute;
    top: 25px;
    bottom: 70px;
    left: 60px;
    display: inline-block;
}

header a {
    text-decoration: none;
}

nav {
    position: absolute;
    top: 25px;
    bottom: 70px;
    text-align: end;
    margin-right: 60px;
    padding-left: 20%;
}

nav ul {
    list-style: none;
    font-size: 0;
}

nav li {
    display: inline-block;
    width: 100%;
    margin-left: 7%;
    position: relative;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
}


/* Portada */

.section__portada {
    max-width: 100%;
    height: 350px;
}

.section__portada--principal {
    max-width: 100%;
    height: 650px;
    margin-top: -55px;
    margin-bottom: 80px;
}

.portada__nosotros {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headernosotros.jpg);
    background-position: 10% 70%;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    margin-top: -55px;
}

.portada__actividades {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headeractividades.jpg);
    background-position: 10% 70%;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    margin-top: -55px;
}

.portada__habitaciones {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headerhabitaciones.jpg);
    background-position: 70% 10%;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    margin-top: -55px;
}

.portada__contacto {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headercontacto.jpg);
    background-position: 10% 70%;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    margin-top: -55px;
}

.portada__index {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/header1.jpg);
    background-position: 10% 40%;
    background-size: cover;
    background-attachment: fixed;
}

.portada__titulo {
    padding-top: 350px;
    padding-left: 50px;
    text-shadow: 3px 4px 35px #C5B4AE;
    font-size: 30px;
}

.portada__titulo--subtitulo {
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: 3px 4px 35px #C5B4AE;
    font-size: 16px;
}

.img__box {
    display: none;
}

/* Main nosotros */


.content__nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textoPrincipal {
    background-color: #F3F3F3;
    box-shadow: 4px 4px 3px rgba(0,0,0,.25);
    padding: 30px;
    margin: 15px 35px;
}

.textoCentrado {
    text-align: center;
}

.medioBox {
    width: 60%;
    height: 420px;
}

.superpuesto {
    position: relative;
    bottom: 60px;
}

.bordeCurvo {
    border-radius: 7px;
}

.textoPrincipal h2 {
    margin-bottom: 15px;
}

.textoPrincipal ul {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.textoPrincipal ul li {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-items: center;
}

.textoPrincipal ul img {
    width: 35px;
    margin-right: 15px;
}

.content__img {
    width: 100%;
}

.content__img img {
    width: 100%;
    margin-top: 20px;
    height: 500px;
    object-fit: cover;
}

.nosotros {
    display: flex;
    flex-direction: column;
}


.margenSeccion {
    margin-top: 100px;
}

.fondo {
    background-color: white;
}

.content__video {
    display: none;
}


/* Main Index */

.servicios {
    margin: 50px 0px 150px 0px;
}

.servicios ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
    margin: auto;
}

.servicios ul li {
    width: 100px;
    margin: 10px;
}

.servicios ul li img {
    width: 50%;
}


.img__tamañoMedio{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.section__texto {
    width: 75%;
    padding: 30px;
}

.section__titulo {
    background-color: #F3F3F3;
    box-shadow: 4px 4px 3px rgba(0,0,0,.25);
    margin-bottom: 25px;
    width: 200px;
}

.habitaciones__equipamiento ul {
    margin: 20px 0px;
}

.habitaciones__equipamiento ul li {
    width: 200px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: 100%;
    align-items: center;
}

.habitaciones__equipamiento ul li img {
    width: 20px;
    margin-right: 10px;
}

.habitaciones__equipamiento ul li p {
    font-size: 13px;
}

.formulario {
    background-color: #F3F3F3;
    padding: 15px;
    height: 400px;
}

.formulario h2 {
    margin-bottom: 10px;
    margin-left: 30px;
}

.form__item {
    margin-bottom: 10px;
}

form {
    margin: 15px 30px;
    display: flex;
    flex-direction: column;
}


.box__form {
    margin-right: 7%;
}



form input , select, textarea {
    border: none;
    margin-left: 5px;
}

.carrusel__galeria img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.img__contacto {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.datos__contacto li {
    width: 20%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.datos__contacto li img {
    width: 60px;
    margin-right: 15px;
}

.datos__contacto li h3 {
    font-size: 20px;
}

.datos__contacto li p {
    font-size: 14px;
}

.datos__contacto {
    margin: 25px;
}

/* Main actividad */

.actividades {
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column-reverse;
}

.actividad__item {
    margin: 10px 0px;
}

.actividad__item img {
    width: 250px;
    height: 180px;
    object-fit: cover;
}

.box__img {
    width: 100%;
}

.actividades__detalle {
    margin: 280px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fondoClaro {
    background-color: #F3F3F3;
}

.infoConsulta {
    width: 100%;
    height: 150px;
}

.infoConsulta p {
    padding-top: 30px;
}


/* Habitaciones */

.habitaciones {
    margin: 150px 30px;
}

.habitacion__item {
    border: solid 1px #F3F3F3;
    margin-bottom: 50px;
}

.habitacion__item .section__texto h2 {
    margin-top: 5px;
}

.habitacion__item .section__texto p {
    margin-top: 5px;
}

.habitacion__item ul li img {
    width: 25px;
    margin-right: 15px;
}

.habitacion__item ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.habitacion__item ul {
    margin: 20px 0px;
}


/* Contacto */

.contacto {
    margin: 150px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.form__columna {
    display: flex;
    flex-direction: column;
}

.formulario__columna {
  background-color: #F3F3F3;
    padding: 15px;
    height: 350px;  
}

.datos__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rss {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rss p {
    margin-right: 10px;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 80px;
    margin-top: 5px;
}

/* Footer */

footer {
    background-color: #0D0C10;
    background-color: #0D0C10;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    margin: 0px 15px;
}

}


/*****************+* DESKTOP ********************/


@media screen and (min-width: 1025px) {

/* GENERAL */    

.btn {
    width: 150px;
    height: 40px;
    background-color: #C5B4AE;
    border: none;
    margin: 20px 0px;
}
    
    
/* GRID */
#grid {
    display: grid;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 80px;
}


header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}




/* Nav */


header {
    position: relative;
    top: 25px;
    bottom: 70px;
    left: 60px;
    display: inline-block;
}

header a {
    text-decoration: none;
}

nav {
    position: relative;
    top: 25px;
    bottom: 70px;
    text-align: end;
    margin-right: 60px;
    padding-left: 20%;
}

nav ul {
    list-style: none;
    font-size: 0;
}

nav li {
    display: inline-block;
    margin-left: 7%;
    position: relative;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
}


/* Portada */

.section__portada {
    max-width: 100%;
    height: 600px;
    margin-top: -55px;
}

.section__portada--principal {
    max-width: 100%;
    height: 800px;
    margin-top: -55px;
}

.portada__nosotros {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headernosotros.jpg);
    background-position: 10% 70%;
    background-size: cover;
    background-attachment: fixed;
}

.portada__actividades {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headeractividades.jpg);
    background-position: 10% 70%;
    background-size: cover;
    background-attachment: fixed;
}

.portada__habitaciones {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headerhabitaciones.jpg);
    background-position: 10% 70%;
    background-size: cover;
    background-attachment: fixed;
}

.portada__contacto {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/headercontacto.jpg);
    background-position: 10% 70%;
    background-size: cover;
    background-attachment: fixed;
}

.portada__index {
    background-image: linear-gradient(rgba(13, 12, 16, 0.46), rgba(13, 12, 16, 0.46)), url(../assets/img/header1.jpg);
    background-position: 10% 40%;
    background-size: cover;
    background-attachment: fixed;
}

.portada__titulo {
    padding-top: 450px;
    padding-left: 120px;
    text-shadow: 3px 4px 35px #C5B4AE;
}

.portada__titulo--subtitulo {
    padding-left: 120px;
    text-shadow: 3px 4px 35px #C5B4AE;
}

.img__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img__deco img{
    width: 500px;
    height: 250px;
    object-fit: cover;
}


.anchoBox {
    width: 80%;
    height: 50px;
}

/* Main nosotros */


.content__nosotros {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.textoPrincipal {
    background-color: #F3F3F3;
    box-shadow: 4px 4px 3px rgba(0,0,0,.25);
    padding: 40px;
    margin-left: 100px;
}

.textoCentrado {
    text-align: center;
}

.medioBox {
    width: 30%;
    height: 350px;
}

.superpuesto {
    position: relative;
    bottom: 60px;
}

.bordeCurvo {
    border-radius: 7px;
}

.textoPrincipal h2 {
    margin-bottom: 15px;
}

.textoPrincipal ul {
    margin-top: 25px;
}

.textoPrincipal ul img {
    width: 35px;
}

.content__img {
    width: 40%;
}

.content__img img {
    width: 100%;
    margin-top: 80px;
    margin-left: 20%;
    height: 600px;
    object-fit: cover;
}

.nosotros {
    display: flex;
    flex-direction: row;
}

.nosotros ul {
    margin-top: 35px;
}

.nosotros ul li {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-items: center;
}

.nosotros ul li img {
    margin-right: 10px;
}


.margenSeccion {
    margin-top: 100px;
}

.fondo {
    background-color: white;
}

.content__video video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content__video h3 {
    color: #F3F3F3;
    position: relative;
    top: 200px;
    margin-left: 250px;
    text-shadow: 4px 4px 20px #496C7F;
}

.content__video button {
    position: relative;
    top: 200px;
    margin-left: 250px;
}

/* Main Index */

.servicios {
    margin: 50px 0px 150px 0px;
}

.servicios ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.servicios ul li {
    width: 100px;
}

.servicios ul li img {
    width: 50%;
}


.img__tamañoMedio{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section__texto {
    width: 40%;
    padding: 40px;
}

.section__titulo {
    background-color: #F3F3F3;
    box-shadow: 4px 4px 3px rgba(0,0,0,.25);
    margin-bottom: 25px;
}

.habitaciones__equipamiento ul {
    margin: 20px 0px;
}

.habitaciones__equipamiento ul li {
    width: 200px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: 100%;
    align-items: center;
}

.habitaciones__equipamiento ul li img {
    width: 20px;
    margin-right: 10px;
}

.habitaciones__equipamiento ul li p {
    font-size: 13px;
}



.formulario {
    background-color: #F3F3F3;
    padding: 15px;
    height: 150px;
}

.formulario h2 {
    margin-bottom: 10px;
    margin-left: 30px;
}

.form__item {
    margin-bottom: 10px;
}

form {
    margin: 15px 30px;
    display: flex;
    flex-direction: row;
}


.box__form {
    margin-right: 7%;
}



form input , select, textarea {
    border: none;
    margin-left: 5px;
}

.carrusel__galeria img{
    width: 650px;
    height: 400px;
    object-fit: cover;
}


.img__contacto {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.datos__contacto li {
    width: 30%;
}

.datos__contacto li img {
    width: 50px;
}

.datos__contacto {
    margin: 25px;
}

/* Main actividad */

.actividades {
    margin: 150px 0px 20px 0px;
    display: flex;
    flex-direction: row;
}

.actividad__item {
    margin: 15px;
}

.actividad__item img {
    width: 350px;
    height: 230px;
    object-fit: cover;
}

.box__img {
    width: 60%;
}

.actividades__detalle {
    margin: 150px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fondoClaro {
    background-color: #F3F3F3;
}

.infoConsulta {
    width: 100%;
    height: 150px;
}

.infoConsulta p {
    padding-top: 30px;
}


/* Habitaciones */

.habitaciones {
    margin: 150px 30px;
}

.habitacion__item {
    border: solid 1px #F3F3F3;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.habitacion__item .section__texto h2 {
    margin-top: 5px;
}

.habitacion__item .section__texto p {
    margin-top: 5px;
}

.habitacion__item ul li img {
    width: 5%;
    margin-right: 15px;
}

.habitacion__item ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.habitacion__item ul {
    margin: 20px 0px;
}



/* Contacto */

.contacto {
    margin: 150px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.contacto__html {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
}

.contacto__html .formulario__box {
    box-shadow: 4px 4px 3px rgba(0,0,0,.25);
    margin-left: 100px;
    border-radius: 7px;
}

.formulario__box {
    width: 40%;
}

.form__columna {
    display: flex;
    flex-direction: column;
}

.formulario__columna {
  background-color: #F3F3F3;
    padding: 15px;
    height: 350px;  
}

.formulario__box .formulario__columna{
    border-radius: 7px;
}

.formulario__box .rss {
    border-radius: 7px;
}

.datos__contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rss {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rss p {
    margin-right: 10px;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 80px;
    margin-top: 5px;
}

/* Footer */

footer {
    background-color: #0D0C10;
    background-color: #0D0C10;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
}